!!! 5
html
  head
    title WebGL HoloTorus
    style(type="text/css")
      body   { margin: 0; }
      canvas { background: black }

    script(src="three.js")
    script(src="datgui.js")
    script(src="torus.js")
    
  body

